  .hero {
    position: relative;
    display: flex;
    min-height: calc(100vh - 90px);
    min-height: calc(100svh - 90px);
  }

  .hero > .ticker {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 3;
  }

  .hero .container {
    position: relative;
    z-index: 2;
    align-items: center;
    max-width: 335px;
  }

  .hero__content {
    display: flex;
    flex-direction: column;
  }
  
  .hero__title {
    font-family: var(--font-secondary);
    font-size: 36px;
    font-weight: 400;
    color: var(--font-primary-color);
    line-height: 1.1;
    letter-spacing: 1px;
    margin-bottom: 24px;
    text-transform: uppercase;
  }

  .align-center {
    display: block;
    text-align: center;
  }

  .align-right {
    display: block;
    text-align: right;
  }

  .hero__subtitle br {
    display: none;
  }

  .hero__title-nowrap {
    white-space: nowrap;
  }
  
  .hero__subtitle {
    font-family: var(--font-primary);
    font-size: 18px;
    font-weight: 400;
    color: var(--font-primary-color);
    line-height: 1.3;
    margin-bottom: 40px;
    max-width: 542px;
    text-align: center;
  }
  
  .hero__buttons {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  .hero__background {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--beige-background);
    left: 0;
    bottom: 0;
    background-image: url('../../assets/images/hero-composition.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 70%;
    z-index: -2;
  }

  .hero__background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/images/overlay.png');
    background-size: cover;
    background-position: center;
    mix-blend-mode: color-burn;
    opacity: 1;
    z-index: 1;
  }

  .hero__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/images/overlay.png');
    background-size: cover;
    background-position: center;
    mix-blend-mode: color-burn;
    opacity: 1;
    z-index: -1;
  }

  .btn {
    max-width: 335px;
  }

  @media (max-width: 768px) {
    body::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 106%;
        background-image: url('../../assets/images/overlay.png');
        background-size: cover;
        mix-blend-mode: color-burn;
        opacity: 1;
        z-index: 1;
      }

    .hero__background {
        position: absolute;
        top: 270px;
        right: 0;
        height: 410px;
        background-image: url('../../assets/images/hero-composition-mobile.png');
        background-position: inherit;
      }

      .hero__background::before {
        opacity: 0;
      }

      .hero__overlay {
        height: 110%;
      }

      .hero__subtitle {
        text-align: left;
      }
  }

  @media (min-width: 400px) {
    .hero__background {
        background-size: cover;
    }
  }

  @media (min-width: 1366px) {
    .hero {
      min-height: calc(100vh - 124px);
      padding: 0 72px;
    }

    .hero .container {
      max-width: 542px;
    }

    .hero__title {
      font-size: 60px;
    }

    .hero__buttons {
        display: flex;
        flex-direction: row;
        gap: 16px;
      }

    .btn {
        width: 263px;
        padding: 20px 49px;
      }
  }

  @media (min-width: 1920px) {
    .hero .container {
        margin-left: 349px;
      }
  }

  @media (max-width: 360px) {
    body::before {
        display: none;
      }
  }
