@import url('./variables.css');
@import url('./reset.css');
@import url('./layout.css');

@import url('./components/buttons.css');
@import url('./components/ticker.css');
@import url('./components/header.css');
@import url('./components/hero.css');
@import url('./components/about.css');

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--beige-background);
}

main {
  flex: 1;
}

.main-content {
    position: relative;
    z-index: 1;
    background-color: var(--white-background);
  }